:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.invisible {
  display: none;
}

.waiting-status {
  font-size: 2rem;
  font-weight: bold;
  opacity: .5;
}