:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

app-color-picker {
    margin: 3rem 0;
}

table {
    display: block;
    text-align: left;
    max-width: 100%;
    table-layout: fixed;

    td,
    th {
        padding: 0 .5em;
    }

    td {
        word-wrap: break-word;
        word-break: break-word;
    }
}