<app-color-picker #colorPicker (input)="colorChange($event)"
    [hidden]="(ledController.connectionStatus | async) !== 'connected'">
</app-color-picker>

<hr />

<ng-container *ngIf="(ledController.connectionStatus | async) === 'connected'">
    <button (click)="ledController.disconnect()">Disconnect</button>
    <button *ngIf="ledController.hasFeature('rsu')" (click)="ledController.startUpdate()">Update</button>
    <button *ngIf="ledController.hasFeature('reboot')" (click)="ledController.reboot()">Reboot</button>
    <hr>

    <ng-container *ngIf="ledController.hasFeature('settings')">
        <h3>Update Settings</h3>
        <select [(ngModel)]="selectedSettingsProperty">
            <option *ngFor="let propertyName of settingsProperties" [value]="propertyName">{{ propertyName }}</option>
        </select>
        <button (click)="updateSettings()">Set Value</button>
        <hr>
    </ng-container>
</ng-container>